/* Estilos del footer */
.footer {
  /* background-color: #eba4e7; */
  background-color: white;
  color: black;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  padding: 40px 0px;
  text-align: center;
  margin-top: 5%;
  margin: 0 -4rem;
  
}

.footerColumn {
  display: inline-block;
  margin: 0 20px;
  vertical-align: top;
  width: 15%;
}

.footerLogo {
  margin-bottom: 20px;
}

.footerLogo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.footerLogoDescription {
  margin: 10px 0;
}

.footerSocial {
  margin-bottom: -30px;
}

.footerSocial a {
  display: inline-block;
  margin: 0 8px;
}

.footerList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerList li {
  margin-bottom: 5px;
}

.footerBottom {
  margin-top: 2px;
}

.footerPaymentIcons {
  position: relative;
  top: 50%;
  right: -0px;
}

.footerPaymentIcons svg {
  color: #333;
  font-size: 30px;
  padding: 0 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .footerColumn {
    display: block;
    margin: 0 0 20px;
    width: 100%;
  }
  .footerLogo img {
    max-width: 50%;
  }
}

/* Paleta de colores */
.footerColumn h4 {
  color: #333;
}

.footerList a {
  color: #666;
}


.footerPaymentIcons svg {
  color: #cf1bb7;
}