.sidebar {
    width: 320px; /* ajusta el ancho según tus necesidades */
    margin-left: 16px; /* ajusta el margen izquierdo según tus necesidades */
  }
  
  .product-list-container {
    display: flex;
    margin-left: 320px; /* ajusta el margen izquierdo según el ancho de la sidebar */
  }
  
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100%; /* ajusta el ancho para ocupar todo el ancho en pantallas pequeñas */
      margin-left: 0;
    }
    
    .product-list-container {
      margin-left: 0;
    }
  }