.offers{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background: #ea6dbe;
    padding: 2rem;
}

.offers h1{
    font-size: 80px;
    color:#fff ;
    padding-left: 10rem;
    margin-right: 5rem;
}

.offers h1 span{
    font-weight: bolder;
}

.rigth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 15rem;
    margin-left: 5rem;
}

.offers img{
    width: 20rem;
    border-radius: 100%;
    border: 0.5rem solid #6A036A;
}

.offers button{
    width: 15rem;
    height: 5rem;
    border-radius: 25rem;
    font-size: 20px;
    margin-top: -2rem;
    font-weight: bolder;
    background: radial-gradient(at 50% -10%, #ffffffb5, #6A036A);
    cursor: pointer;
    color: #fff;
    z-index: 100;
}
